.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #0d6efd;
  color: white;
  position: relative;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logout-btn {
  background: white;
  color: #0d6efd;
  margin-left: 20px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.humburger {
  display: none;
  font-size: 2rem;

}


/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background: #0d6efd;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
  }

  .nav-links.open {
    display: flex;
  }
}